<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>  
</head>
<body>
    <div class="wrapper">
        <div class="navbar">
            <div class="logo-container">
                <a href="home.html" class="logo"><i class="fas fa-pizza-slice"></i>FEAST FUSION</a>
            </div>
            <div class="nav-items">
                <a href="home.html">Home</a>
                <a href="about.html">About</a>
                <div class="menu-btn">
                    <a href="menu.html">Menu</a>

                    <div class="dropdown">
                       <div class="options">
                            <a href="pizza.html">Pizza</a>
                            <a href="Pasta.html">Pasta</a>
                            <a href="Beverages.html">Beverages</a>
                            <a href="desserts.html">Desserts</a>
                            <a href="breads.html">Breads</a>
                            <a href="more.html">More</a>
                       </div>
                    </div>
                </div>
                <a href="gallery.html">Gallery</a>
                <a href="contact.html">Contact</a>
                <div class="search">
                    <label for="search">Search</label>
                    <input type="text" id="search"placeholder="Search...">
                </div>
            </div>
            <div class="icons">
                <div id="cart" class="fas fa-shopping-cart"></div>
                <div id="login" class="fas fa-user"></div>
                <div id="menu" class="fas fa-bars"></div>
            </div>
            <div class="shopping-cart">
                <h2 class="total">Total:$0.00</h2>
                <a href="#" class="btn">Checkout Cart</a>

                <a href="payment.html" class="btn" id="order-now-btn">Order Now</a>
            </div>

            <form action="" class="login-form" name="myForm" ng-app="myApp" ng-controller="myCtrl" novalidate>
                <h4>Login Form</h4>
                <p>
                    <input type="email" name="email" ng-model="email" placeholder="Enter Your Email" class="boxes" required>
                    <span ng-show="myForm.email.$dirty && myForm.email.$invalid">
                        <span ng-show="myForm.email.$error.required">Email Required !!</span>
                        <span ng-show="myForm.email.$error.email">Invalid Email Address !!</span>
                    </span>
                </p>
                <p>
                    <input type="password" name="password" ng-model="password" placeholder="Enter Your Password" class="boxes" required>
                    <span ng-show="myForm.password.$dirty && myForm.password.$invalid">
                        <span ng-show="myForm.password.$error.required">Password Required !!</span>
                    </span>
                </p>
                <div class="remember">
                    <input type="checkbox" id="remember-me">
                    <label for="remember-me">Remember Me</label>
                </div>
                <p>
                <input type="submit" value="Login" class="btn" ng-disabled="myForm.email.$dirty && myForm.email.$invalid ||
                myForm.password.$dirty && myForm.password.$invalid" >
                </p>
            </form>
        </div><br> <br> <br> <br> <br> <br>
        <div class="pizzas">
            <div class="box-container">
                <div class="box">
                    <img src="./images/margherita.jpg" alt="">
                    <h3>MARGHERITA</h3>
                    <p>A hugely popular margherita, with a deliciously tangy single cheese topping</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$15.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
    
                
                <div class="box">
                    <img src="./images/peppypaneer.jpg" alt="">
                    <h3>PEPPY PANEER</h3>
                    <p>Chunky paneer with crisp capsicum and spicy red pepper - quite a mouthful!</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$19.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
    
                <div class="box">
                    <img src="./images/mexicangreenwave.jpg" alt="">
                    <h3>MEXICAN GREEN WAVE</h3>
                    <p>A pizza loaded with crunchy onions, crisp capsicum, juicy tomatoes and jalapeno with a liberal sprinkling of exotic Mexican herbs.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$21.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
    
                <div class="box">
                    <img src="./images/pepperbarbeque&onion.jpg" alt="">
                    <h3>PEPPER BARBEQUE & ONION </h3>
                    <p>Pepper Barbecue Chicken I Onion</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="fas fa-star-half-alt"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$12.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
    
                <div class="box">
                    <img src="./images/indichickentikka.png" alt="">
                    <h3>INDI CHICKEN TIKKA</h3>
                    <p>The wholesome flavour of tandoori masala with Chicken tikka I onion I red paprika I mint mayo</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$15.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
    
                <div class="box">
                    <img src="./images/chickenpepperoni.png" alt="">
                    <h3>CHICKEN PEPPERONI</h3>
                    <p>A classic American taste! Relish the delectable flavor of Chicken Pepperoni, topped with extra cheese</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$15.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
    
                <div class="box">
                    <img src="./images/chickendominator.png" alt="">
                    <h3>CHICKEN DOMINATOR</h3>
                    <p>Treat your taste buds with Double Pepper Barbecue Chicken, Peri-Peri Chicken, Chicken Tikka & Grilled Chicken Rashers</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$15.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
    
                <div class="box">
                    <img src="./images/chickensausage.png" alt="">
                    <h3>CHICKEN SAUSAGE</h3>
                    <p>Chicken Sausage & Cheese</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$15.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
    
                <div class="box">
                    <img src="./images/chicken_feast.jpg" alt="" width="400" height="300">
                    <h3>THE 5 CHICKEN FEAST PIZZA</h3>
                    <p>Loaded with 5 different Chicken toppings - grilled Chicken Rashers, Chicken Meatballs, Chicken Tikka, herby Chicken Sausage and flavorful Chicken Keema</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$15.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
                <div class="box">
                    <img src="./images/chi_max.jpg" alt="" width="400" height="300">
                    <h3>CHICKEN MAXIMUS</h3>
                    <p>Loaded to the Max with Chicken Tikka, Chicken Keema, Chicken Sausage and a double dose of grilled Chicken Rashers.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$15.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
                <div class="box">
                    <img src="./images/ind_fus.jpg" alt="" width="400" height="300">
                    <h3>INDO FUSION CHICKEN PIZZA</h3>
                    <p>Relish the fusion of 5 of your favorite chicken toppings - Peri Peri Chicken, Chicken Pepperoni, Chicken Tikka, Pepper Barbecue Chicken and Chicken Meatballs</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$15.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
                <div class="box">
                    <img src="./images/spiced_doubled.jpg" alt="" width="400" height="300">
                    <h3>SPICED DOUBLE CHICKEN</h3>
                    <p>Delightful combination of our spicy duo- Pepper Barbecue Chicken and Peri Peri Chicken for Chicken Lovers.</p>
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star-half-alt"></i>
                    </div>
                    <div class="prices">$15.99</div>
                    <a href="#" class="btn1">Add To Cart</a>
                </div>
                
            </div>
            <div class="footer">
                <div class="box-container">
                    <div class="box">
                        <h3>Find Us Here</h3>
                        <div class="share">
                            <a href="#" class="fab fa-facebook-f"></a>
                            <a href="#" class="fab fa-twitter"></a>
                            <a href="#" class="fab fa-instagram"></a>
                            <a href="#" class="fab fa-linkedin"></a>
                        </div>
                    </div>
    
                    <div class="box">
                        <h3>Contact Us</h3>
                        <p>9015118744</p>
                        <a href="#" class="link">justashailav02@gmail.com</a>
                    </div>
    
                    <div class="box">
                        <h3>Localization</h3>
                        
                    </div>
                </div>
    
                <div class="credit">Created By <span>justahub</span> | all rights reserved</div>
            </div>
       </div>
    </div>
    <script src="script.js"></script>
    <script>
        var app=angular.module('myApp',[]);
        app.controller('myCtrl',function($scope){
        $scope.email='justashailav02@gmail.com';
        $scope.password='............';
 
    });
    </script>
</body>
</html>